.element {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 18vh;
}

@media screen and (max-width: 767px) {
  .element {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 16vh;
  }
}
