.element {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 18vh;
}
.date {
  padding: 5px 0;
  height: 24px;
}
.today {
  background-color: #1a73e8;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  line-height: 24px;
  width: 24px;
}

@media screen and (max-width: 767px) {
  .element {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 16vh;
  }
  .today{
    line-height: 20px;
    width: 20px;
  }
}
